body{
  background-color:teal;
}

p {color: rgb(225, 185, 126);
  font-family:Arial, Helvetica, sans-serif
}

h1,h2{
  color: rgb(225, 185, 126);
  font-family: Arial, Helvetica, sans-serif;
}

img{
  height:auto;
  width: 20%
}

.before{
 float: left;

}

.text{
  width: 30%;
  float: right;
  color:darkkhaki
  
}

.interior1{
  float:left;
  padding: 5px;
  margin-bottom:4px;

}

.interior2{
  float:left;
  padding: 5px;
  margin-bottom:4px;
  
}

.interior3{
  float:left;
  padding: 5px;
  margin-bottom:4px;

}
