body{
  background-color:teal;
}

p {color: rgb(225, 185, 126);
  font-family:Arial, Helvetica, sans-serif
}

h1,h2{
  color: rgb(225, 185, 126);
  font-family: Arial, Helvetica, sans-serif;
}

img{
  height:auto;
  width: 20%
}

.before{
 float: left;

}

.text{
  width: 30%;
  float: right;
  background-color: teal;
  color:darkkhaki
}

